{% extends 'base.html' %}
{% block body %}
<div class="container mx-2 my-2">
<h2>About me ;)</h2>
<div class="container px-0 py-2">
<p>Hey, this is Shourya, developer of this website and all these python projects. I'm 14 year old teen currently living in India. I know how to code in python and C#.
I have serveral made projects with python some of which are available publicly on my github. It's almost been an year and half since I started learning python, currently I'm focusing into learning C# and Unity.</p>
<a href="https://github.com/SATAN01/" target="_blank">
<img src="/static/github.jfif">
</a>
<a href="https://sharemygame.com/@Shourya/escape/" target="_blank">
<img src="/static/game.png">
</a>
<style> 
</div>
</div>  
{% endblock body %}
{% block title %}
|About|{% endblock title %}
