{% extends 'base.html' %}
{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/hacking.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <p style="font-size:28px" class='py-2'>Other than developing games I am intrested in hacking. I've made serveral projects but there's one which I call PyHack,is the best among all my other hacking projects!</p>
  <p style="font-size:20px">Features of PyHack:</p>
  <p style="font-size:15px">1. Access to password of each and every wifi the user has ever connected to</p>
  <p>2. Webcam access (Audio streaming is under development..)</p>
  <p>3. Live screen streaming</p>
  <p>4. Access to edit any txt file</p> 
  <p>5. Access to the folder/files tree structure</p>
  <p>6. Full control over mouse</p> 
  <p>7. Full control over keyboard</p>
  <p>8. Can open any website on the victim's PC</p> 
  <p>9. BSOD anytime (Only if the victim's PC is running on Windows 10)</p>
  <p>10. The script runs as a background process</p>
  <p> For confidential purposes I can't post the source code here
</div>
{% endblock body %}